button.btn-salary {

    margin: 10px auto;
    border: 0;
    border-radius: 3px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
    cursor: pointer;
    transition: 0.5s;
    width: 400px;
} 

button.btn-salary:hover {
    color: #fff;
    background-color:  #B6CD41;
} 