.App {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#container-login {
  display: flex;
  justify-content: center; /*Alinha horizontalmente*/
  align-items: center; /*Alinha verticalmente*/
  background-color: #00A859;
  width: 100%;
  height: 603px;
}

#container-main {
  display: flex;
  flex-direction: column;
  justify-content: center; /*Alinha horizontalmente*/
  align-items: center; /*Alinha verticalmente*/
  width: 100%;
  height: 100%;
}